<div id="Later">
    <ng-container >
        <div   [id]="bookmark.data.id" *ngFor="let user of arrayOfUser;let i=index" (click)="goToProfile(user.id)" class="bookmark" >
            
            <div class="row" (click)="open(content)" >
                 <div class="col-3">
                
                        <img [src]="user.picURL" class="rounded float-left bookmarkIcon" alt="soul">
                 </div>
                <div class="col-9">
                   <strong class="FontConfig">{{user.firstName}} {{user.secondName}}</strong><br>
                
                </div>
            </div>
        </div>
    </ng-container>
 </div>


